/* Reset styles for all elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Container {
  width: 350px;
  display: grid;
  border: 2px solid white;
  border-radius: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 10px 50px;
}

li {
  list-style: none;
  margin: 15px;
}

.Container > .newtask{
  margin: auto;
  padding: 10px;
}

.Container > .newtask > input {
  width: 200px;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
} 

button.submit {
  display:inline-block;
  flex: 1;
  border: none;
  background-color: teal;
  color: white;
  height: 30px;
  width: 70px;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

li > button {
  display:inline-block;
  flex: 1;
  border: none;
  background-color: teal;
  color: white;
  height: 30px;
  width: 70px;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}
li > button:hover {
  border-color: white;
  color: red;
  background-color: none; 
}

